@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "Layout";
    ViewData["Title"] = Localizer["Title"];
}

<div style="height: 10vh;">

</div>
<h4 class="title">@Localizer["Title"]</h4>


<div style="display: grid; grid-template-columns: auto 180px; grid-template-rows: auto; gap: 24px;">

    <div>
        <p>Sichert die aktuellen Einstellungen, die Datei wird mit dem Login-Kennwort verschlüsselt.</p>
    </div>
    <button type="submit" name="save" class="big-square-button">
        <div class="icon">save</div>
        <p>Einstellungen sichern</p>
    </button>

    <div>
        <p>Stellt Einstellungen wieder her, es wird das ursprüngliche Login-Kennwort benötigt.</p>
    </div>
    <button type="submit" name="restore" class="big-square-button">
        <div class="icon">settings_backup_restore</div>
        <p>Wiederherstellen</p>
    </button>

</div>