[Unit]
Description=Sinedo
[Service]
ExecStart=/usr/share/sinedo/sinedo --worker
Restart=always                  
RestartSec=3

[Install]
WantedBy=multi-user.target