:root {
    --color-header-background: #fbfbfb;
    --color-header-border: #dbdbdb;

    --color-menu-selection: #eeeeee;
    --color-menu-hover: #eeeeee5b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-header-background: #121212;
        --color-header-border: #2f2f32;

        --color-menu-selection: #202020;
        --color-menu-hover: #202020;
    }

    .log li[data-level="None"] {
        color: #121212;
        background-color: #caf7f2;
    }

    .log li[data-level="Trace"] {
        color: #ffffff !important;
        background-color: #1f1a249e !important
    }
    .log li[data-level="Debug"] {
        color: #ffffff !important;
        background-color: #1f1a249e !important
    }

    .log li[data-level="Information"] {
        color: #ffffff !important;
        background-color: #1f1a249e !important
    }

    .log li[data-level="Warning"] {
        color: #ffffff !important;
        background-color: #332940 !important;
    }

    .log li[data-level="Error"] {
        color: #121212 !important;
        background-color: #bb86fc !important;
    }

    .log li[data-level="Critical"] {
        color: #121212 !important;
        background-color: #bb86fc !important;
    }
}

@media (prefers-color-scheme: -ms-high-contrast) {
    :root {
        --color-header-background: black;
        --color-header-border: white;

        --color-menu-selection: white;
        --color-menu-hover: #202020;
    }

    .log li[data-level="None"] {
        color: #121212 !important;
        background-color: #caf7f2 !important
    }

    .log li[data-level="Trace"] {
        color: #ffffff !important;
        background-color: #1f1a249e !important
    }
    .log li[data-level="Debug"] {
        color: #ffffff !important;
        background-color: #1f1a249e !important
    }

    .log li[data-level="Information"] {
        color: #ffffff !important;
        background-color: #1f1a249e !important
    }

    .log li[data-level="Warning"] {
        color: black !important;
        background-color: yellow !important;
    }

    .log li[data-level="Error"] {
        color: black !important;
        background-color: red !important;
    }

    .log li[data-level="Critical"] {
        color: black !important;
        background-color: red !important;
    }
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 100% !important;
        grid-template-rows: min-content auto min-content !important;

        min-height: 100vh !important;
    }

    .header {
        display: none !important;
    }
    .miniview {
        display: block !important;
    }
    .minifooter {
        display: flex !important;
    }
    .content {
        grid-row: 2 !important;
    }
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    min-width: 300px;
    min-height: 400px;
    background-color: var(--color-background);
}

.grid {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 300px calc(100vw - 315px);
    min-height: 100vh;
    min-width: 100%;
}

.header {
    background-color: var(--color-header-background);
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--color-header-border);
}

.header__sidebar {
    padding: 24px;
}

.header__footer {
    border-color: var(--color-header-border);
    border-top-style: solid;
    border-top-width: 1px;

    position: sticky;
    bottom: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 6px;
    background-color: var(--color-header-background);
  }

.header h4 {
    padding: 8px;
    padding-left: 0px;

    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
    margin: 0px;
}
.content {
    padding-bottom: 24px;
}
.content__title {
    text-align: center;
}

.dropdown {
    padding-top: 12px;
    padding-bottom: 10px;
}

.log {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.log p {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;

    overflow-wrap: break-word;
}

.log li {
    border-top-width: 1px;
    border-top-color: transparent;
    border-top-style: solid;
}

.log li[data-level="None"] {
    color: black;
    background-color: #FFFEFFD0;
}

.log li[data-level="Trace"] {
    color: black;
    background-color: #FFFEFFD0;
}
.log li[data-level="Debug"] {
    color: black;
    background-color: #FFFEFFD0;
}

.log li[data-level="Information"] {
    color: black;
    background-color: #FFCDFD99;
}

.log li[data-level="Warning"] {
    color: black;
    background-color: #fff787c4;
}

.log li[data-level="Error"] {
    color: white;
    background-color: darkred;
}

.log li[data-level="Critical"] {
    color: white;
    background-color: darkred;
}

.sidebar {
    border-radius: 10px;
    list-style: none;
    background-color: var(--color-background);
    margin: 0px;
    padding: 0px;
    padding-bottom: 12px;

    border-color: var(--color-header-border);
    border-width: 1px;
    border-style: solid;
  }

  .sidebar p {
    padding-left: 24px;
    padding-right: 24px;
  }

  .menu {
    list-style: none;
    padding: 0px;
  }

  .menu__item {
    cursor: pointer;
    border-color: var(--color-header-border);
    border-top-width: 1px;
    border-top-style: solid;
  }
  .menu__item:last-child {
    border-color: var(--color-header-border);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .menu__item:hover {
    background-color: var(--color-menu-hover);
  }
  .menu__item[selected] {
    background-color: var(--color-menu-selection);
  }
  .menu__item a {
      text-decoration: none;
      color: var(--color-font);
  }
  .status {
      display: flex;
      padding: 18px;
      padding-left: 27px;
  }

  .status__text {
      flex-grow: 1;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 17px;
  }

  .status__icon[green] {
    color: green;
  }
  .status__icon[red] {
    color: red;
  }


  .miniview {
    display: none;
    border-color: var(--color-header-border);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    overflow-y: hidden;
    overflow-x: scroll;

    padding-top: 12px;
    padding-bottom: 12px;

    background-color: var(--color-header-background);
  }
  .minifooter {
    display: none;
    gap: 10px;

    position: sticky;
    bottom: 0px;

    border-color: var(--color-header-border);
    border-top-style: solid;
    border-top-width: 1px;

    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 14px;
    padding-right: 14px;

    background-color: var(--color-header-background);
  }